---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
IndentPPDirectives: AfterHash
BreakAfterAttributes: Leave
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
...
